{% extends "orders/base.html" %}

{% block title %}
    Create Your Order
{% endblock %}


{% block left %}
{% endblock %}

{% block body %}
  <p class="h3">{{product}}</p>
    <form action="{% url 'addtoorder' product.id %}" method="post">
        {% csrf_token %}
        {% if toppings|length > 0 %}
            {% for t in toppings %}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="toppings" value="{{ t.id }}" id="check{{ t.id }}">
                <label class="form-check-label" for="check"+{{ t.topping.name }}>
                  {{ t.topping.name }} +${{ t.addprice }}
                </label>
              </div>
            {% endfor %}
        {% endif %}
        <input type="submit" value="Add to order" />
    </form>

{% endblock %}


{% block right %}
{% endblock %}
