{% extends "orders/base.html" %}

{% block title %}
    Create Your Order
{% endblock %}


{% block left %}
{% endblock %}

{% block body %}
  <p class="h3">{{product}}</p>
  <table id="pasta_table" class="side_table">
      <thead>
        <tr>
          <th scope="col">Topping</th>
          <th scope="col">Additional Price</th>
        </tr>
      </thead>
      <tbody>
        {% for t in toppings %}
          <tr>
            <th scope="row">{{t.topping.name}}</th>
            <td>{{t.addprice}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}


{% block right %}
{% endblock %}
