{% extends "orders/cartbase.html" %}

{% block title %}
    Create Your Order
{% endblock %}


{% block left %}
{% endblock %}

{% block body %}
  <p class="h3">{{product}}</p>
    <form action="{% url 'addtoorder' product.id %}" method="post">
        {% csrf_token %}

        <div>
          {% for psp in productsizeprices %}
            <label class="radio-inline"><input type="radio" name="sizeradio" value="{{ psp.id }}" required>{{psp.size.name}} - ${{psp.price}}</label>
          {% endfor %}
        </div>
        {% if producttoppings|length > 0 %}
            {% for t in producttoppings %}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="toppings" value="{{ t.id }}" id="check{{ t.id }}">
                <label class="form-check-label" for="check"+{{ t.topping.name }}>
                  {{ t.topping.name }} +${{ t.addprice }}
                </label>
              </div>
            {% endfor %}
        {% endif %}

        {% if pizzatoppings|length > 0 %}
            {% for pt in pizzatoppings %}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="pizzatoppings" value="{{ pt.name }}" id="check{{ pt.name }}">
                <label class="form-check-label" for="check"+{{ pt.name }}>
                  {{ pt.name }}
                </label>
              </div>
            {% endfor %}
        {% endif %}

        <input type="submit" value="Add to order" />
    </form>
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}

{% endblock %}


{% block right %}
{% endblock %}
