{% extends "orders/cartbase.html" %}

{% block script %}
{% load static %}
  <script src="{% static "orders/index.js" %}"></script>
{% endblock %}

{% block title %}
    index
{% endblock %}


{% block left %}
{% endblock %}

{% block body %}
  {% for pt in producttypes %}
    <p class="h4">{{pt.name}}</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"> </th>
          {% for s in pt.availablesizes.all %}
            <th scope="col">{{s.name}}</th>
          {% endfor %}
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        {% for p in pt.productlist %}
          <tr>
            <th scope="row"><a href="{% url 'create' p.id %}"> {{ p.variant.name }} </a></th>
              {% for price in p.pricelist %}
                <td scope="col"> {% if price != "" %}${% endif %}{{ price }} </td>
              {% endfor %}
              <td scope="col">
                {% if p.toppingaddpricelist|length > 0 %}
                    {% for t in p.toppingaddpricelist %}
                      <p>{{t.topping.name}} +${{t.addprice}}</p>
                    {% endfor %}
                {% endif %}
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  {% endfor %}
{% endblock %}


{% block right %}
{% endblock %}
