{% extends "orders/base.html" %}

{% block script %}
{% load static %}
  <script src="{% static "orders/index.js" %}"></script>
{% endblock %}

{% block title %}
    index
{% endblock %}


{% block left %}
{% endblock %}

{% block body %}
  {% for pt in producttypes %}
    <p class="h4">{{pt.name}}</p>
    {% for pv in pt.availablevariants.all %}
      <p>{{pv.name}} -
        {% for p in pt.productlist %}
          {% if p.variant == pv %}
             {{ p.size.name }}: <a href="{% url 'create' p.id %}"> {{ p.price }} </a>
          {% endif %}
        {% endfor %}

      </p>
    {% endfor %}
  {% endfor %}
{% endblock %}


{% block right %}
{% endblock %}
