
{% extends "orders/base.html" %}

{% block title %}
    Login
{% endblock %}


{% block body %}


<form action="{% url 'register' %}" method="post">
  <p class="h4 mb-4">Register</p>
  {{ message }}


  {% csrf_token %}
  <input type="text" id="regUsername" class="form-control mb-4" name="regUsername" placeholder="Username" required="true">
  <input type="email" id="regEmail" class="form-control mb-4" name="regEmail" placeholder="Email" required="true">
  <input type="password" id="regPassword" class="form-control mb-4" name="regPassword" placeholder="Password" required="true">
  <input type="password" id="confirmPassword" class="form-control mb-4" name="confirmPassword" placeholder="Re-enter password" required="true">

  <button class="btn btn-info btn-block my-4" type="submit">Register</button>


  <p>Already registered?
      <a href="{% url 'login' %}">Login</a>
  </p>
</form>
{% endblock %}
